services:
  nginx1: 
    image: "nginx:latest"
    hostname: "nginx1"
    depends_on:
      - "graylog1"
      - "graylog2"
    ports:       
      # WebUI
      - 443:443
      - 80:80
      # API
      - 3443:3443
      - 380:380
      # Syslog Input
      - 514:514
      - 514:514/udp
      # Beats Input 5044
      - 5044:5044
      - 5044:5044/udp
      # Beats Input 5045
      - 5045:5045
      - 5045:5045/udp
      # Graylog Beats Input 5054 (Self-Monitoring, TCP only)
      - 5054:5054
      # RAW Input 5555
      - 5555:5555
      - 5555:5555/udp
      # Syslog Input over TLS (TCP only)
      - 6514:6514
      # Graylog Gelf Input (Self-Monitoring, UDP only)
      - 9900:9900/udp 
      # Gelf Input 12201
      - 12201:12201
      - 12201:12201/udp 
      # Gelf Input 12148
      - 12148:12148
      - 12148:12148/udp 
      # Graylog Enterprise Forwarder Input
      - 13301:13301
      - 13302:13302
      # Additional Input Ports
    volumes:
      - "./nginx1/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./nginx1/http.conf:/etc/nginx/conf.d/http.conf:ro"
      - "./nginx1/stream.conf:/etc/nginx/conf.d/stream.conf:ro"
      - "./nginx1/ssl:/etc/nginx/ssl:ro"
    restart: "always"

  nginx2: 
    image: "nginx:latest"
    hostname: "lookuptables"
    volumes: 
      - "./nginx2/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./nginx2/http.conf:/etc/nginx/conf.d/http.conf:ro"
      - "./lookuptables:/lookuptables:ro"
    restart: "always"

  mongodb1:
    image: "mongo:8"
    hostname: "mongodb1"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    volumes:
      - "./configuration:/data/db"
    restart: "always"

  datanode1:
    image: "opensearchproject/opensearch:2.19.3"
    hostname: "datanode1"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    env_file: "opensearch.env"
    environment:
      - "node.name=datanode1"
      - "node.roles=cluster_manager,data"
      - "path.repo=/usr/share/opensearch/warm_tier"
      - "cluster.name=graylog-database"
      - "cluster.initial_master_nodes=datanode1,datanode2,datanode3"      
      - "discovery.seed_hosts=datanode2,datanode3"
      - "bootstrap.memory_lock=false"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        soft: -1 
        hard: -1
      nofile:
        soft: 262144 
        hard: 262144
    volumes:
      - "./database/warm_tier:/usr/share/opensearch/warm_tier"
      - "./database/datanode1:/usr/share/opensearch/data"    
    restart: "on-failure"

  datanode2:
    image: "opensearchproject/opensearch:2.19.3"
    hostname: "datanode2"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    env_file: "opensearch.env"
    environment:
      - "node.name=datanode2"
      - "node.roles=cluster_manager,data"
      - "path.repo=/usr/share/opensearch/warm_tier"
      - "cluster.name=graylog-database"
      - "cluster.initial_master_nodes=datanode1,datanode2,datanode3"
      - "discovery.seed_hosts=datanode1,datanode3"
      - "bootstrap.memory_lock=false"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        soft: -1 
        hard: -1
      nofile:
        soft: 262144 
        hard: 262144
    volumes:
      - "./database/warm_tier:/usr/share/opensearch/warm_tier"
      - "./database/datanode2:/usr/share/opensearch/data"
    restart: "on-failure"

  datanode3:
    image: "opensearchproject/opensearch:2.19.3"
    hostname: "datanode3"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    env_file: "opensearch.env"
    environment:
      - "node.name=datanode3"
      - "node.roles=cluster_manager,data"
      - "path.repo=/usr/share/opensearch/warm_tier"
      - "cluster.name=graylog-database"
      - "cluster.initial_master_nodes=datanode1,datanode2,datanode3"
      - "discovery.seed_hosts=datanode1,datanode2"
      - "bootstrap.memory_lock=false"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        soft: -1 
        hard: -1
      nofile:
        soft: 262144 
        hard: 262144
    volumes:
      - "./database/warm_tier:/usr/share/opensearch/warm_tier"
      - "./database/datanode3:/usr/share/opensearch/data"
    restart: "on-failure"

  datanode9:
    image: "opensearchproject/opensearch:2.19.3"
    hostname: "datanode9"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    env_file: "opensearch.env"
    environment:
      - "node.name=datanode9"
      - "node.roles=search"
      - "node.search.cache.size=10gb"
      - "path.repo=/usr/share/opensearch/warm_tier"
      - "cluster.name=graylog-database"
      - "cluster.initial_master_nodes=datanode1,datanode2,datanode3"
      - "discovery.seed_hosts=datanode1,datanode2,datanode3"
      - "bootstrap.memory_lock=false"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - "./database/warm_tier:/usr/share/opensearch/warm_tier"
    restart: "on-failure"

  graylog1:
    image: "graylog/graylog-enterprise:7.0"
    hostname: "graylog1"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    depends_on:
      - "mongodb1"
      - "datanode1"
      - "datanode2"
      - "datanode3"
    entrypoint: "/docker-entrypoint.sh"
    post_start:
      - command: update-ca-certificates
        user: root
    env_file: "graylog.env"
    environment: 
      - "GRAYLOG_IS_LEADER=true"
      - "GRAYLOG_HTTP_PUBLISH_URI=http://graylog1:9000"
    volumes:
      - "./journal1:/usr/share/graylog/data/journal"
      # only required if you want to store archives in a local folder; make sure the "archives" folder has 1100:1100 permissions on the host; don't use in Cloud Environments but work with s3 Backend instead
      - "./archives:/usr/share/graylog/data/archives"
      # only required if you want to use predefined content packs
      - "./contentpacks:/etc/graylog/server/contentpacks:ro"
      # only required if you want to use the data warehouse in a local folder; make sure the "warehouse" folder has 1100:1100 permissions on the host; don't use in Cloud Environments but work with s3 Backend instead
      - "./datalake:/usr/share/graylog/data/datalake"
      # only required if you want to use encrypted Syslog (stores the required certificates)
      - "./input_tls:/etc/graylog/server/input_tls:ro"
      # only required if you want to work with Lookup Tables for Enrichment
      - "./lookuptables:/etc/graylog/server/lookuptables:ro"
      # only required if you want to work with Geolocation Data
      - "./maxmind:/etc/graylog/server/mmdb:ro"
      # only required if you want to run script notifications (bash, any other script language); make sure the "notifications" folder has 1100:1100 permissions on the host
      - "./notifications:/etc/graylog/server/notifications"
      # only required if you want to add your own self-signed root certificate
      - "./rootcerts:/usr/local/share/ca-certificates/"
    restart: "on-failure"

  graylog2:
    image: "graylog/graylog-enterprise:7.0"
    hostname: "graylog2"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    depends_on:
      - "mongodb1"
      - "datanode1"
      - "datanode2"
      - "datanode3"
    entrypoint: "/docker-entrypoint.sh"
    post_start:
      - command: update-ca-certificates
        user: root
    env_file: "graylog.env"
    environment: 
      - "GRAYLOG_IS_LEADER=false"
      - "GRAYLOG_HTTP_PUBLISH_URI=http://graylog2:9000"
    volumes:
      - "./journal2:/usr/share/graylog/data/journal"
      # only required if you want to store archives in a local folder; make sure the "archives" folder has 1100:1100 permissions on the host; don't use in Cloud Environments but work with s3 Backend instead
      - "./archives:/usr/share/graylog/data/archives"
      # only required if you want to use predefined content packs
      - "./contentpacks:/etc/graylog/server/contentpacks:ro"
      # only required if you want to use the data warehouse in a local folder; make sure the "warehouse" folder has 1100:1100 permissions on the host; don't use in Cloud Environments but work with s3 Backend instead
      - "./datalake:/usr/share/graylog/data/datalake"
      # only required if you want to use encrypted Syslog (stores the required certificates)
      - "./input_tls:/etc/graylog/server/input_tls:ro"
      # only required if you want to work with Lookup Tables for Enrichment
      - "./lookuptables:/etc/graylog/server/lookuptables:ro"
      # only required if you want to work with Geolocation Data
      - "./maxmind:/etc/graylog/server/mmdb:ro"
      # only required if you want to run script notifications (bash, any other script language); make sure the "notifications" folder has 1100:1100 permissions on the host
      - "./notifications:/etc/graylog/server/notifications"
      # only required if you want to add your own self-signed root certificate
      - "./rootcerts:/usr/local/share/ca-certificates/"
    restart: "on-failure"

  # This container can be skipped based on your needs, just make sure to remove the corresponding locations in nginx.conf  
  grafana1:
    image: "grafana/grafana-oss:latest"
    hostname: "grafana1"
    depends_on:
      - "prometheus1"
    environment:
     GF_SERVER_ROOT_URL: "https://eval.graylog.local/grafana"
     GF_INSTALL_PLUGINS: ""
    volumes:
     - "grafana-data-01:/var/lib/grafana"
    restart: "unless-stopped"

  # This container can be skipped based on your needs, just make sure to remove the corresponding locations in nginx.conf  
  prometheus1:
    image: "prom/prometheus:latest"
    hostname: "prometheus1"
    depends_on:
      - "graylog1"
    environment: 
      LISTEN_ADDRESS: "0.0.0.0"
      LISTEN_PORT: '9090'
    command:
      - '--config.file=/etc/prometheus/prometheus-gls.yml'
      - '--web.external-url=/prometheus/'
      - '--web.route-prefix=/prometheus/'
      - '--web.listen-address=0.0.0.0:9090'
    volumes:
      - "prometheus-data-01:/prometheus"
      - "./prometheus/prometheus-gls.yml:/etc/prometheus/prometheus-gls.yml"
    restart: unless-stopped

  # This container can be skipped based on your needs
  samba1:
    image: "dockurr/samba:4.21"
    hostname: "samba1"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    ports:
      - "445:445"
    volumes:
      - ./samba/smb.conf:/etc/samba/smb.conf:ro
      - ./samba/users.conf:/etc/samba/users.conf:ro
      - ./assetdata:/storage/assetdata
      - ./logsamples:/storage/logsamples
      - ./lookuptables:/storage/lookuptables
      - ./sources:/storage/sources
    restart: always

volumes:
  graylog-journal-01:
  graylog-journal-02:
  grafana-data-01:
  prometheus-data-01: