services:
  nginx1: 
    image: "nginx:latest"
    hostname: "nginx1"
    depends_on:
      - "graylog1"
      - "graylog2"
    ports: 
      # Graylog WebUI for User/Admin Access
      - 443:443
      - 80:80
      # Graylog API for System Access
      - 3443:3443
      - 380:380
      # Graylog Inputs for Log Ingestion
      # Syslog Input
      - 514:514
      - 514:514/udp
    volumes:
      - "/opt/graylog/nginx1/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "/opt/graylog/nginx1/http.conf:/etc/nginx/conf.d/http.conf:ro"
      - "/opt/graylog/nginx1/stream.conf:/etc/nginx/conf.d/stream.conf:ro"
      - "/opt/graylog/nginx1/ssl:/etc/nginx/ssl:ro"
    restart: "always"

  nginx2: 
    image: "nginx:latest"
    hostname: "lookuptables"
    volumes: 
      - "/opt/graylog/nginx2/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "/opt/graylog/nginx2/http.conf:/etc/nginx/conf.d/http.conf:ro"
      - "/opt/graylog/lookuptables:/lookuptables:ro"
    restart: "always"

  mongodb1:
    image: "mongo:8"
    hostname: "mongodb1"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    volumes:
      - "/opt/graylog/configuration:/data/db"
    restart: "always"

  datanode1:
    image: "opensearchproject/opensearch:2.19.3"
    hostname: "datanode1"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    env_file: "database.env"
    environment:
      - "node.name=datanode1"
      - "node.roles=cluster_manager,data"
      - "path.repo=/usr/share/opensearch/warm_tier"
      - "cluster.name=graylog-database"
      - "cluster.initial_master_nodes=datanode1,datanode2,datanode3"      
      - "discovery.seed_hosts=datanode2,datanode3"
      - "bootstrap.memory_lock=false"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        soft: -1 
        hard: -1
      nofile:
        soft: 262144 
        hard: 262144
    volumes:
      - "/opt/graylog/database/warm_tier:/usr/share/opensearch/warm_tier"
      - "/opt/graylog/database/datanode1:/usr/share/opensearch/data"    
    restart: "on-failure"

  datanode2:
    image: "opensearchproject/opensearch:2.19.3"
    hostname: "datanode2"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    env_file: "database.env"
    environment:
      - "node.name=datanode2"
      - "node.roles=cluster_manager,data"
      - "path.repo=/usr/share/opensearch/warm_tier"
      - "cluster.name=graylog-database"
      - "cluster.initial_master_nodes=datanode1,datanode2,datanode3"
      - "discovery.seed_hosts=datanode1,datanode3"
      - "bootstrap.memory_lock=false"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        soft: -1 
        hard: -1
      nofile:
        soft: 262144 
        hard: 262144
    volumes:
      - "/opt/graylog/database/warm_tier:/usr/share/opensearch/warm_tier"
      - "/opt/graylog/database/datanode2:/usr/share/opensearch/data"
    restart: "on-failure"

  datanode3:
    image: "opensearchproject/opensearch:2.19.3"
    hostname: "datanode3"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    env_file: "database.env"
    environment:
      - "node.name=datanode3"
      - "node.roles=cluster_manager,data"
      - "path.repo=/usr/share/opensearch/warm_tier"
      - "cluster.name=graylog-database"
      - "cluster.initial_master_nodes=datanode1,datanode2,datanode3"
      - "discovery.seed_hosts=datanode1,datanode2"
      - "bootstrap.memory_lock=false"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        soft: -1 
        hard: -1
      nofile:
        soft: 262144 
        hard: 262144
    volumes:
      - "/opt/graylog/database/warm_tier:/usr/share/opensearch/warm_tier"
      - "/opt/graylog/database/datanode3:/usr/share/opensearch/data"
    restart: "on-failure"

  datanode9:
    image: "opensearchproject/opensearch:2.19.3"
    hostname: "datanode9"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    env_file: "database.env"
    environment:
      - "node.name=datanode9"
      - "node.roles=search"
      - "node.search.cache.size=10gb"
      - "path.repo=/usr/share/opensearch/warm_tier"
      - "cluster.name=graylog-database"
      - "cluster.initial_master_nodes=datanode1,datanode2,datanode3"
      - "discovery.seed_hosts=datanode1,datanode2,datanode3"
      - "bootstrap.memory_lock=false"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - "/opt/graylog/database/warm_tier:/usr/share/opensearch/warm_tier"
    restart: "on-failure"

  graylog1:
    image: "graylog/graylog-enterprise:7.0"
    hostname: "graylog1"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    depends_on:
      - "mongodb1"
      - "datanode1"
      - "datanode2"
      - "datanode3"
    entrypoint: "/docker-entrypoint.sh"
    env_file: "graylog.env"
    environment: 
      - "GRAYLOG_IS_LEADER=true"
      - "GRAYLOG_HTTP_PUBLISH_URI=http://graylog1:9000"
    volumes:
      - "graylog-journal-01:/usr/share/graylog/data/journal"
      # only required if you want to store archives in a local folder; make sure the "archives" folder has 1100:1100 permissions on the host; don't use in Cloud Environments but work with s3 Backend instead
      - "/opt/graylog/archives:/usr/share/graylog/data/archives"
      # only required if you want to use predefined content packs
      - "/opt/graylog/contentpacks:/etc/graylog/server/contentpacks:ro"
      # only required if you want to use the data warehouse in a local folder; make sure the "warehouse" folder has 1100:1100 permissions on the host; don't use in Cloud Environments but work with s3 Backend instead
      - "/opt/graylog/datalake:/usr/share/graylog/data/datalake"
      # only required if you want to use encrypted Syslog (stores the required certificates)
      - "/opt/graylog/input_tls:/etc/graylog/server/input_tls:ro"
      # only required if you want to work with Lookup Tables for Enrichment
      - "/opt/graylog/lookuptables:/etc/graylog/server/lookuptables:ro"
      # only required if you want to work with Geolocation Data
      - "/opt/graylog/maxmind:/etc/graylog/server/mmdb:ro"
      # only required if you want to run script notifications (bash, any other script language); make sure the "notifications" folder has 1100:1100 permissions on the host
      - "/opt/graylog/notifications:/etc/graylog/server/notifications"
    restart: "on-failure"

  graylog2:
    image: "graylog/graylog-enterprise:7.0"
    hostname: "graylog2"
    logging: 
      driver: "gelf"
      options: 
        gelf-address: "udp://localhost:9900"
    depends_on:
      - "mongodb1"
      - "datanode1"
      - "datanode2"
      - "datanode3"
    entrypoint: "/docker-entrypoint.sh"
    env_file: "graylog.env"
    environment: 
      - "GRAYLOG_IS_LEADER=false"
      - "GRAYLOG_HTTP_PUBLISH_URI=http://graylog2:9000"
    volumes:
      - "graylog-journal-02:/usr/share/graylog/data/journal"
      # only required if you want to store archives in a local folder; make sure the "archives" folder has 1100:1100 permissions on the host; don't use in Cloud Environments but work with s3 Backend instead
      - "/opt/graylog/archives:/usr/share/graylog/data/archives"
      # only required if you want to use predefined content packs
      - "/opt/graylog/contentpacks:/etc/graylog/server/contentpacks:ro"
      # only required if you want to use the data warehouse in a local folder; make sure the "warehouse" folder has 1100:1100 permissions on the host; don't use in Cloud Environments but work with s3 Backend instead
      - "/opt/graylog/datalake:/usr/share/graylog/data/datalake"
      # only required if you want to use encrypted Syslog (stores the required certificates)
      - "/opt/graylog/input_tls:/etc/graylog/server/input_tls:ro"
      # only required if you want to work with Lookup Tables for Enrichment
      - "/opt/graylog/lookuptables:/etc/graylog/server/lookuptables:ro"
      # only required if you want to work with Geolocation Data
      - "/opt/graylog/maxmind:/etc/graylog/server/mmdb:ro"
      # only required if you want to run script notifications (bash, any other script language); make sure the "notifications" folder has 1100:1100 permissions on the host
      - "/opt/graylog/notifications:/etc/graylog/server/notifications"
    restart: "on-failure"

  # This container can be skipped based on your needs, just make sure to remove the corresponding locations in nginx.conf  
  grafana1:
    image: "grafana/grafana-oss:latest"
    hostname: "grafana1"
    depends_on:
      - "prometheus1"
    environment:
     GF_SERVER_ROOT_URL: "https://${GL_GRAYLOG_ADDRESS}/grafana"
     GF_INSTALL_PLUGINS: ""
    volumes:
     - "grafana-data-01:/var/lib/grafana"
    restart: "unless-stopped"

  # This container can be skipped based on your needs, just make sure to remove the corresponding locations in nginx.conf  
  prometheus1:
    image: "prom/prometheus:latest"
    hostname: "prometheus1"
    depends_on:
      - "graylog1"
    environment: 
      LISTEN_ADDRESS: "0.0.0.0"
      LISTEN_PORT: '9090'
    command:
      - '--config.file=/etc/prometheus/prometheus-gls.yml'
      - '--web.external-url=/prometheus/'
      - '--web.route-prefix=/prometheus/'
      - '--web.listen-address=0.0.0.0:9090'
    volumes:
      - "prometheus-data-01:/prometheus"
      - "/opt/graylog/prometheus/prometheus-gls.yml:/etc/prometheus/prometheus-gls.yml"
    restart: unless-stopped

volumes:
  graylog-journal-01:
  graylog-journal-02:
  grafana-data-01:
  prometheus-data-01: